@import url(https://db.onlinewebfonts.com/c/a21f17cc7904597ec24db2c98c8eb1d4?family=AmpleSoftPro-Regular);
*{
    margin: 0;
    padding: 0;
    font-family: "AmpleSoftPro-Regular" !important;
}
html{
    font-size: 14px !important;
}
img{
    object-fit: contain;
    overflow: hidden;
}
p{
    color: white;
}
a{
    font-size: 13px !important;
}
label{
    color: black !important;
    font-size: 20px !important;
}
